--extra-index-url https://download.pytorch.org/whl/cpu
websockets>=12.0
pynput>=1.7.0
psutil>=6.0.0
mss>=9.0.0
opencv-contrib-python>=4.8.0
numpy>=1.24.0
pytesseract>=0.3.10
pyautogui>=0.9.54
keyboard>=0.13.5
flask>=3.0.0
pywin32>=306
pyttsx3>=2.90
pydirectinput>=1.0.4
transformers>=4.40.0
scipy>=1.10.0
